<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.JS</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link 
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" 
	rel="stylesheet">
  	<link 
  	href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" 
  	rel="stylesheet">
  	<meta 
  	name="viewport" 
  	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  	<style>
  		.todo-list {
  			margin-top: 10px;
  			border: 2px dashed black;
  			border-radius: 4px;
  			padding: 10px 15px;
  		}
  		#root {
  			visibility: hidden;
  		}
  	</style>
</head>
<body>
	<div id="root">
		<div v-if="screen == 'login'">
			<v-content>
		      <v-container fluid fill-height>
		        <v-layout align-center justify-center>
		          <v-flex xs12 sm8 md4>
		            <v-card class="elevation-12">
		              <v-toolbar color="blue">
		                <v-toolbar-title>Login</v-toolbar-title>
		                <v-spacer></v-spacer> 
		              		</v-toolbar>
					              <v-card-text>
						                <v-form>
						                  <v-text-field 
						                  prepend-icon="person" 
						                  v-model="email" 
						                  label="Email" 
						                  type="email"></v-text-field>
						                  <v-text-field 
						                  prepend-icon="lock" 
						                  v-model="password" 
						                  label="Password" 
						                  id="password" 
						                  type="password"
						                  @keyup.enter="login"></v-text-field>
						                </v-form>
					              </v-card-text>
		              		<v-card-actions>
		                <v-btn color="green" @click="setToLoginOrRegister('register')">Signup Here</v-btn>
		                <v-spacer></v-spacer>
		                <v-btn color="blue"  @click="login">Login</v-btn>
		              </v-card-actions>
		            </v-card>
		          </v-flex>
		        </v-layout>
		      </v-container>
		   </v-content>
		</div>

		<div v-if="screen == 'dashboard'">
			<div style="float: right">
				<v-btn color="grey" @click="logout">LOGOUT</v-btn> 
			</div>
			<v-container grid-list-xl text-xs-center>
				<h1>MYCURE TODO LIST</h1>	
		 			<br><br>
		 			<v-layout row 
		 			justify-center>
						<v-flex  md4>
				 			<div 
				 			class="todo-list" 
					 		v-for="todo, index in todos">
			 					<v-text-field 
			 					v-model.lazy="todo.name"
			 					label="Activity Name"
			 					@keyup="updateTodo(index)"></v-text-field>
			 					<br>
			 					<v-text-field
			 					type="text" 
								label="Description"
			 					v-model.lazy="todo.description"
			 					@keyup="updateTodo(index)">></v-text-field> <br>
			 					<v-text-field 
			 					type="date" 
								label="Deadline"
			 					v-model.lazy="todo.deadline"
			 					@keyup="updateTodo(index)"
			 					@input="updateTodo(index)">></v-text-field> <br>
			 					<v-btn
				 				@click="deleteTodo(index)"
				 				color="red">DELETE TASK</v-btn>
				 			</div>
			 			</v-flex>
					</v-layout>
					<v-btn
		 			@click="addTodo"
		 			color="orange">+ADD</v-btn>
		 	</v-container>
	 	</div>

	 	<div v-if="screen == 'register'">
	 		<v-content>
		      <v-container fluid fill-height>
		        <v-layout align-center justify-center>
		          <v-flex xs12 sm8 md4>
		            <v-card class="elevation-12">
		              <v-toolbar color="green">
		                <v-toolbar-title>Registration</v-toolbar-title>
		                <v-spacer></v-spacer> 
		              		</v-toolbar>
					              <v-card-text>
						                <v-form>
						                  <v-text-field 
						                  prepend-icon="person" 
						                  v-model="email" 
						                  label="Email" 
						                  type="email"></v-text-field>
						                  <v-text-field 
						                  prepend-icon="lock" 
						                  v-model="password" 
						                  label="Password" 
						                  id="password" 
						                  type="password"></v-text-field>
						                  <v-text-field 
						                  prepend-icon="lock" 
						                  v-model="confirmPassword" 
						                  label="Confirm Password" 
						                  id="password" 
						                  type="password"
						                  @keyup.enter="signup"></v-text-field>
						                </v-form>
					              </v-card-text>
		              		<v-card-actions>
		                <v-btn color="blue" @click="setToLoginOrRegister('login')">Go to Login</v-btn>
		                <v-spacer></v-spacer>
		                <v-btn color="green" @click="signup">Register</v-btn>
		              </v-card-actions>
		            </v-card>
		          </v-flex>
		        </v-layout>
		      </v-container>
		   </v-content>
		</div>
	 	</div>	
	</div>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-database.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
</body>
	<script src="main.js"></script>
</html>